In [ ]:
import mysql.connector
import pandas as pd

In [ ]:
mydb = mysql.connector.Connect(
    host = "localhost",
    user = "root",
    password = " ",
    database = "amrbase"
)

In [ ]:
remote = mysql.connector.Connect(
    host = "",
    port = "3306",
    user = "root",
    password = " ",
    database = "amrbase"
)

In [ ]:
mycursor = mydb.cursor()
mycursor.execute("DROP TABLE sql_file")

In [ ]:
cur = remote.cursor()
sql = open("test03.sql").read()
cur.execute(sql)

In [ ]:
cur = remote.cursor()
sql = open("test04.sql").read()
for result_iterator in cur.execute(sql, multi=True):
    if result_iterator.with_rows:
        print(result_iterator.fetchall())
    else:
        print(result_iterator.statement)

remote.commit()

In [ ]:
cur = remote.cursor(buffered=True)
cur.execute("SELECT * FROM sql_file")
result = cur.fetchall()
for result_iterator in result:
    print(result_iterator)

df = pd.DataFrame(result)
df.head()

In [ ]:
df = pd.read_csv("../data/police_station.csv")
df.head()

In [ ]:
conn = mysql.connector.Connect(
    host = "",
    port = "3306",
    user = "robot",
    password = " ",
    database = "amrbase"
)

In [ ]:
cursor = conn.cursor(buffered=True)
sql = "INSERT INTO police_station VALUES (%s, %s)"
for i, row in df.iterrows():
    cursor.execute(sql, tuple(row))
    print(tuple(row))
    conn.commit()

In [ ]:

cursor.execute("SELECT * FROM police_station")
result = cursor.fetchall()
for row in result:
    print(row)

In [ ]:
df = pd.DataFrame(result)
df.columns = ['이름', '주소']
df.head()

In [ ]:
df = pd.read_csv('../data/2020_crime.csv', encoding='euc-kr')
df.head()

In [ ]:
sql = """INSERT INTO crime_status VALUES ("2020",%s,%s,%s,%s)"""
cursor = conn.cursor(buffered=True)
for i, row in df.iterrows():
    cursor.execute(sql, tuple(row))
    print(tuple(row))
    conn.commit()

In [ ]:
cursor.execute("SELECT * FROM crime_status")
result = cursor.fetchall()
for row in result:
    print(row)

In [ ]:
df = pd.DataFrame(result)
df.head()