In [ ]:
import mysql.connector
import pandas as pd

In [ ]:
conn = mysql.connector.Connect(
    host = "",
    port = "3306",
    user = "robot",
    password = " ",
    database = "amrbase"
)

In [ ]:
df = pd.read_csv('../data/sandwich.csv')
df.info()

In [ ]:

sql = "CREATE TABLE sandwich (rand int, cafe varchar(32), menu varchar(32), price float, address varchar(32))"
cursor = conn.cursor(buffered=True)
cursor.execute(sql)
sql = "INSERT INTO sandwich VALUES ( %s, %s, %s, %s, %s)"
for i, row in df.iterrows():
    cursor.execute(sql, tuple(row))
    conn.commit()

cursor.execute("SELECT * FROM sandwich")
result = cursor.fetchall()
for row in result:
    print(row)

In [ ]:
df = pd.DataFrame(result)
df.columns = ["rand", "cafe", "menu", "price", "address"]
df.head()

In [ ]:
cursor.execute("""SELECT * FROM sandwich where cafe like "%Kitchen%" or cafe like "%Cafe%" order by price ASC""")
result = cursor.fetchall()
for row in result:
    print(row)

In [ ]:
cursor.execute("""SELECT * FROM sandwich where menu like "%Salad%" or menu like "%Cheese%" or menu like "%Beef%" order by price ASC limit 5""")
result = cursor.fetchall()
for row in result:
    print(row)

In [ ]:
df = pd.read_csv('../data/movie.csv')
df.info()

In [ ]:
df = pd.read_csv('../data/def.csv')
df.info()

In [ ]:
sql = "drop TABLE moive"
cursor = conn.cursor(buffered=True)
cursor.execute(sql)

In [ ]:
sql = "CREATE TABLE movie (date date, name varchar(64), point float)"
cursor = conn.cursor(buffered=True)
cursor.execute(sql)

In [ ]:
sql = "CREATE TABLE def (code char(8),name varchar(16),address varchar(64),number varchar(16),time varchar(16),count int)"
cursor = conn.cursor(buffered=True)
cursor.execute(sql)

In [ ]:
sql = "INSERT INTO def VALUES ( %s, %s, %s, %s, %s, %s)"
for i, row in df.iterrows():
    cursor.execute(sql, tuple(row))
    conn.commit()

In [ ]:
cursor.execute("SELECT * FROM def")
result = cursor.fetchall()
for row in result:
    print(row)

In [ ]:
cursor.execute("""SELECT * FROM def where (name like "%부산방향%" or name like "서울방향") and address like "%고속도로%" order by count DESC limit 5""")
result = cursor.fetchall()
for row in result:
    print(row)

In [ ]:
cursor.execute("""SELECT * FROM def where (name like "%부산방향%" or name like "서울방향") and address like "%고속도로%" order by count DESC limit 5""")
result = cursor.fetchall()
for row in result:
    print(row)